/* * {
    box-sizing: border-box;
    border: 1px solid red;
} */

html {
    border: 0px;
    height: auto; 
    min-height: 100%;
    /* width: 100vw; */
    background-image: url(./Images/supermariobackground.jpg); 
    background-size: auto 100%; 
    background-position: center;
    background-repeat: repeat-x;
    /* overflow-x: hidden; */
}


body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    height: 100%; 
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 50%;
    width: auto;
}

.game {
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 1rem;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: calc(100% / 3);
}

.box {
    height: 100px;
    width: 100px;
    transition: transform 1s;
}

#top {
    border-bottom: 1.5px solid black;
}

#middle {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

#bottom {
    border-top: 1.5px solid black;
}

#one, #four, #seven {
    border-right: 1.5px solid black;
}

#two, #five, #eight {
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}

#three, #six, #nine {
    border-left: 1.5px solid black;
}

.x {
    background-image: url(./Images/Mario-Sprite.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.o {
    background-image: url(./Images/Bowser-Sprite.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    margin-top: 25px;
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

.instructions {
    text-decoration: underline;
}

ul {
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
    list-style: none;
    padding-bottom: 10px;
}

#play {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: 1s;
}

#play:hover {
    width: 33px;
    height: 33px;
    margin-right: 15px;
    border-radius: 50%;
    border: 5px solid white;
}

#pause {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-left: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: 1s;
}

#pause:hover {
    width: 33px;
    height: 33px;
    margin-left: 15px;
    border-radius: 50%;
    border: 5px solid white;
}

button {
    height: 100px;
    width: 200px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    border: 3px solid black;
    transition: transform 1s;
}

button:hover  {
    height: 100px;
    width: 200px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    border: 6px solid white;
}

.music {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Key Frames/Animations */




/* Mobile Devices */
@media (max-width: 481px) {
    footer {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 0.9em;
    }

    button {
        height: 25px;
        width: 50px;
        font-size: 0.38rem;
    }

    button:hover  {
        height: 25px;
        width: 50px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
        font-size: 0.38rem;
    }

    .o, .x, .box {
        height: 75px;
        width: 75px;
    }
}
        
/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
    footer {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 0.9em;
    }

    button {
        height: 50px;
        width: 100px;
    }

    button:hover  {
        height: 50px;
        width: 100px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
    }

    .o, .x, .box {
        height: 100px;
        width: 100px;
    }
}
        
/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px){

    footer {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    button {
        height: 50px;
        width: 100px;
    }

    button:hover  {
        height: 50px;
        width: 100px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
    }

    .o, .x, .box {
        height: 100px;
        width: 100px;
    }
}
    
/* Laptops etc */
@media (min-width: 1025px) and (max-width: 1280px){
    footer {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    button {
        height: 50px;
        width: 100px;
    }

    button:hover  {
        height: 50px;
        width: 100px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
    }

    .o, .x, .box {
        height: 100px;
        width: 100px;
    }
}
    


/* Monitors */
@media (min-width: 1281px) and (max-width: 1600px) {
    footer {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    button {
        height: 50px;
        width: 100px;
    }

    button:hover  {
        height: 50px;
        width: 100px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
    }

    .o, .x, .box {
        height: 100px;
        width: 100px;
    }
}

/* 1440p */
@media (min-width: 1600px) {
    footer {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        height: 80px;
        width: 160px;
    }

    button:hover  {
        height: 80px;
        width: 160px;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        border: 6px solid white;
    }

    .o, .x, .box {
        height: 200px;
        width: 200px;
    }
}